$background-color: #ffedc8;
$text-color: #000;
$btn-color-1: #ffe371;
$btn-color-2: #ff9c71;


body{
    background-color: $background-color;
    color: $text-color;
}
p{
    font-size: large;
}
.button{
    background-color: $btn-color-1;
    font-size: 24pt;
    border: solid 3px black;
    border-radius: 33px;
    height: 70px;
    width: 350px;
}

.button:hover {
    background-color: $btn-color-2;
    transition: background-color 0.3s ease-in-out;
}
